<a href="https://colab.research.google.com/github/Diptyregar456/Projects/blob/main/regression_on_iris_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving iris.zip to iris.zip

In [ ]:
#unzip the files
from zipfile import ZipFile
file_name = "iris.zip"
with ZipFile(file_name, 'r')as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import sklearn
name = ['sepal=length','sepal=width','petal=length','petal=width','species']
df = pd.read_csv('/content/a08a1080b88344b0c8a7-639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv',names=name)
df.head(30)

    sepal=length  sepal=width  petal=length  petal=width  species
0   sepal_length  sepal_width  petal_length  petal_width  species
1            5.1          3.5           1.4          0.2   setosa
2            4.9          3.0           1.4          0.2   setosa
3            4.7          3.2           1.3          0.2   setosa
4            4.6          3.1           1.5          0.2   setosa
5            5.0          3.6           1.4          0.2   setosa
6            5.4          3.9           1.7          0.4   setosa
7            4.6          3.4           1.4          0.3   setosa
8            5.0          3.4           1.5          0.2   setosa
9            4.4          2.9           1.4          0.2   setosa
10           4.9          3.1           1.5          0.1   setosa
11           5.4          3.7           1.5          0.2   setosa
12           4.8          3.4           1.6          0.2   setosa
13           4.8          3.0           1.4          0.1   setosa
14           4.3          3.0           1.1          0.1   setosa
15           5.8          4.0           1.2          0.2   setosa
16           5.7          4.4           1.5          0.4   setosa
17           5.4          3.9           1.3          0.4   setosa
18           5.1          3.5           1.4          0.3   setosa
19           5.7          3.8           1.7          0.3   setosa
20           5.1          3.8           1.5          0.3   setosa
21           5.4          3.4           1.7          0.2   setosa
22           5.1          3.7           1.5          0.4   setosa
23           4.6          3.6           1.0          0.2   setosa
24           5.1          3.3           1.7          0.5   setosa
25           4.8          3.4           1.9          0.2   setosa
26           5.0          3.0           1.6          0.2   setosa
27           5.0          3.4           1.6          0.4   setosa
28           5.2          3.5           1.5          0.2   setosa
29           5.2          3.4           1.4          0.2   setosa

In [ ]:
df.describe()

       sepal=length sepal=width petal=length petal=width    species
count           151         151          151         151        151
unique           36          24           44          23          4
top             5.0         3.0          1.5         0.2  virginica
freq             10          26           14          28         50

In [ ]:

df.shape

(151, 5)

In [ ]:
df.groupby('species').size()

species
setosa        50
species        1
versicolor    50
virginica     50
dtype: int64

In [ ]:
df.plot(kind='box', subplots = True, layout=(2,2), sharex= True, sharey= True )
plt.show()

TypeError: ignored

In [ ]:
df.hist()
plt.show()

ValueError: ignored

In [ ]:
scatter_matrix(df)
plt.show ()

ValueError: ignored